<h1>
  <span>Edit <%= name.humanize.downcase %></span>
</h1>

<%%= render "form" %>

<%%= link_to "Show", @<%= rails_model_name %>, class: "action" %>
<%%= link_to "Back", <%= rails_collection_name %>_path, class: "action" %>
